<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--    别名-->
    <typeAliases>
<!--        对包进行扫描-->
        <package name="com.mybatis"/>
    </typeAliases>

<!--    mysql配置文件路径-->
    <mappers>
        <mapper resource="mapper/*"/>
    </mappers>
</configuration>